<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="adduser.css"/>
    </head>
    <body>
        <div class = "userinfo" id = "userinfo">
            <span id = "userdata">Welcome user</span>
            <a href = "../index.html" class="logout">Logout</a>
        </div>
        <div class = "menu" id = "menu">
            <button id = "home" onclick="window.location.href='homepage.html'">Home</button>
            <button id = "addasset" onclick="menuitemview(event)">Add Asset Info</button>
            <button id = "viewasset" onclick="assetsmenu(event)">Assets</button>
        </div>
        <div class = "menuitem" id = "menuitem">
            <button id ="uploadmultiple">Upload File</button>
            <button id = "singleentry">Add Assets</button>
        </div>
        <div class = "assetmenuitem" id = "assetmenuitem">
            <button id = "updateasset" onclick="window.location.href='manageassets.html'">View/Edit Assets</button>
        </div>
        <div class = "userinformation" id="userinformation">
            <h2>User Information</h2>
            <div class="userdata">
            <label>User ID</label>
            <input type="text" id="userid">
            </div>
            <div class="userdata">
            <label>User Name</label>
            <input type="text" id="username">
            </div>
            <div class="userdata">
                <label>Password</label>
                <input type="password">
            </div>
            <div class="userdata">
                <label>Confirom-Password</label>
                <input type="password">
            </div>
            <div class="userdata">
            <label>User Role</label>
            <select id="userrole">
                <option value="" disabled selected hidden>select role</option>
                <option value="admin">admin</option>
                <option value="user">user</option>
            </select>
            </div>
            <div class="userdata">
            <button id="saveuser" onclick="saveuser()">Save</button>
            </div>
            <span id = "status"></span>
        </div>

        <script src = "adduser.js"></script>
    </body>
</html>