<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="manageassets.css"/>
    </head>
    <body>
        <div class = "userinfo" id = "userinfo">
            <span id = "userdata">Welcome user</span>
            <a href = "C:\Users\GOPI\Documents\workspace-spring-tools-for-eclipse\inventory-my project\AssetInventory\src\main\resources\static\index.html" class="logout">Logout</a>
        </div>
        <div class = "menu" id = "menu">
            <button id = "addasset" onclick="menuitemview(event)">Add Asset Info</button>
            <button id = "viewasset" onclick="assetsmenu(event)">Assets</button>

        </div>
        <div class = "menuitem" id = "menuitem">
            <button id ="uploadmultiple">Upload File</button>
            <button id = "singleentry">Add Assets</button>
            
        </div>
        <div class = "assetmenuitem" id = "assetmenuitem">
            <button id = "updateasset" onclick="window.location.href='manageassets.html'">View/Edit Assets</button>
        </div>
        <input type="search" class = "searching" id = "searching" placeholder="search...">
        <a href = "http://localhost:8080/downloadinventorylist/" id = "export">Export</a>     
        <div class = "resultcontainer" id = "resultcontainer">
            <table class = "assetstable" id = "assetstable">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th>Employee name</th>
                        <th>Depaartment</th>
                        <th>Asset Tag</th>
                        <th>Asset Type</th>
                        <th>Asset Model</th>
                        <th>Asset Serialnumber</th>
                        <th>OS info</th>
                        <th>Location</th>
                        <th>Handoverform</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id = "tabledata"></tbody>
            </table>
        </div>
        <script src = "manageassets.js"></script>
    </body>
</html>