.userslist{
     position: fixed;
    left : 15%;
    top : 90px;
    margin: 20px 30px;
    width: 600px;
    overflow-x: auto;
    height: auto;
    border: 1px solid rgb(209, 201, 201);
    padding-bottom: 15px;
}
.usertable{
    border: 1px solid black;
    width: 600px;
    border-collapse: collapse;
    
}
th{
    background-color:   rgb(19, 108, 175);
    color: white;
    height: 50px;
    border: 1px solid  white;
}
tr{
    text-align: center;
    height: 50px;
    border-bottom: 1px solid  rgb(19, 108, 175);
}
#edit{
    background-color: rgb(119, 210, 119);
    height: 20px;
    width: 80px;
    color: white;
    border: 1px solid rgb(119, 210, 119);
    border-radius: 10px;
}
#edit:hover{
    background-color: white;
    color: rgb(7, 210, 7);
}
#newuser{
    position: fixed;
    top : 80px;
    right : 10%;
    background-color: rgb(19, 108, 175);
    color: white;
    border: 1px solid rgb(19, 108, 175);
    border-radius: 10px;
    width: 100px;
    height: 25px;
}
#newuser:hover{
    background-color: white;
    color: rgb(19, 108, 175);
}